<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FoodOrderingSystemDB" 
         connectionString="Server=LAPTOP-8FCR7GQB\SQLEXPRESS;Database=FoodOrderingSystem;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
